/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



body{
    background-color: black;
}



h1{
    font-family: 'Metal Mania', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 8em;
    text-shadow: 4px 4px 8px #000000;  
}



h2{
    font-family: 'Nanum Gothic Coding', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1em;
}


article{
    margin-left: 4em;
    margin-right: 4em;
    line-height: 3em;
}


p{
    font-family: 'Quicksand', sans-serif;   
    color: white;
    font-size: 2em;  
    text-align: justify;  
}


#focused{
    font-family: 'Metal Mania', cursive;
    color: yellow;
    font-size: 1.5em;
}


#consciousness{
    font-family: 'Metal Mania', cursive;
    font-style: italic;
    color: yellow;
    font-weight: bold;
}



span{
    font-family: 'Metal Mania', cursive;
    color: red;
    font-style: italic;
   
}


footer{
    font-family: 'Nanum Gothic Coding', monospace;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
